<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico" />

  <title th:text="#{index.title}">ringtube.org | All the ring tones you&apos;ve ever wanted</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../../html/css/bootstrap.min.css" th:href="@{/html/css/bootstrap.min.css}" />

  <!-- Slider CSS -->
  <link rel="stylesheet" href="../../html/css/bootstrap-slider.min.css" th:href="@{/html/css/bootstrap-slider.min.css}" />

  <style TYPE="text/css">
    .slider-selection {background: #BABABA;}
  </style>
</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only" th:text="#{index.navbar.header.hint}">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
  
        <a class="navbar-brand" href="#" th:text="#{index.navbar.brand}">RingTube</a>
      </div>

      <div class="navbar-collapse collapse">
        <form class="navbar-form navbar-right" role="form">
          <div class="form-group">
            <input placeholder="Email" class="form-control" type="text" />
          </div>
    
          <div class="form-group">
            <input placeholder="Password" class="form-control" type="password" />
          </div>
    
          <button type="submit" class="btn btn-success" th:text="#{index.navbar.signin}">Sign In</button>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </div>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h2 th:text="#{index.jumbotron.marketing1}">Convert your favorite videos into ring tones easily for free of charge</h2>
    <p class="lead" th:text="#{index.jumbotron.marketing2}">Just enter the link, pick the desired time frame, the target file format and your&apos;re ready to go!</p>

    
    <div class="col-md-8 input-group lead">
      <span class="input-group-addon glyphicon glyphicon-music"></span>
      <input id="youTube-url" type="text" class="form-control" th:placeholder="#{index.jumbotron.youtube.url.errmsg}" placeholder="YouTube URL" />
    </div>

    <div id="youTube-url-errmsg" class="col-md-8 alert alert-danger" th:text="#{index.jumbotron.youtube.url.errmsg}">This isn't a YouTube URL</div>

    <div class="col-md-8 input-group lead">
      <span class="input-group-addon glyphicon glyphicon-resize-horizontal"></span>
      <input id="youTube-slider" type="text" class="form-control" data-slider-handle="triangle" />
    </div>

    <div id="youTube-convert" class="btn-group">
      <button type="button" class="btn btn-lg btn-success" th:text="#{index.jumbotron.youtube.convert}">Convert</button>
      <button type="button" class="btn btn-lg btn-success dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only" th:text="#{index.jumbotron.youtube.convert.hint}">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">MP3</a></li>
        <li><a href="#">AAC</a></li>
        <li><a href="#">OGG</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2 id="youTube-title">&nbsp;</h2>
        <div id="youTube-player" class="col-md-12"></div>
      </div>

      <div class="col-md-4">
        <h2 th:text="#{index.container.col1.header}">Why register?</h2>
        <p th:text="#{index.container.col1.content}">First of all, it doesn&apos;t cost a thing, basically there no reason why not to register.
        Furthermore, if you register you become a premium member. Premium membership has the following benefits.</p>
        <p><a class="btn btn-default" href="#" role="button" th:text="#{index.container.view.details}">View details »</a></p>
      </div>

      <div class="col-md-4">
        <h2 th:text="#{index.container.col2.header}">Supported formats</h2>
        <p th:text="#{index.container.col2.content}">You can choose from the following file formats.</p>
        <li>MP3</li>
        <li>AAC</li>
        <li>OGG</li>
        <p>Flac is coming soon...</p>
        <p><a class="btn btn-default" href="#" role="button" th:text="#{index.container.view.details}">View details »</a></p>
      </div>
       
      <div class="col-md-4">
        <h2 th:text="#{index.container.col3.header}">Top Videos</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis 
  in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. 
  Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
   ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#" role="button" th:text="#{index.container.view.details}">View details »</a></p>
      </div>
    </div>

    <hr />

    <footer>
      <p th:text="index.footer">© ringtube.org 2014</p>
    </footer>
  </div> <!-- /container -->

  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../../html/js/jquery/jquery.min.js" th:src="@{/html/js/jquery/jquery.min.js}"></script>
  <script src="../../html/js/bootstrap/bootstrap.min.js" th:src="@{/html/js/bootstrap/bootstrap.min.js}"></script>
  <script src="../../html/js/bootstrap-slider/bootstrap-slider.min.js" th:src="@{/html/js/bootstrap-slider/bootstrap-slider.min.js}"></script>
  <script src="../../html/js/youtube/main.js" th:src="@{/html/js/youtube/main.js}"></script>
</body>

</html>